{% extends "base.html" %}

{%- macro navbuttons() -%}
    <a class="pure-button ytdl-nextprev {% if page == 0 %} pure-button-disabled{%endif%}" href="?page={{page-1}}">
        Prev page
    </a>
    <a class="pure-button ytdl-nextprev {% if videos.videos.len() == 0 %} pure-button-disabled{%endif%}" href="?page={{page+1}}">
        Next page
    </a>
{%- endmacro -%}

{% block body %}
<script src="/static/popperjs_core_2.js"></script>
<script src="/static/tippy_6.js"></script>
<script src="/static/luxon.min.js"></script>
<script>
    function vidl_grab_video(video_id) {
        fetch(
            "/download/" + video_id,
            {
                method: 'POST',
                cache: 'no-cache',
            }
        ).then(function (data) {
            document.getElementById("vidl-video-" + video_id).classList.add("ytdl-queued");
        }).catch(function (e) {
            console.log("Error grabbing", e);
            document.getElementById("vidl-video-" + video_id).classList.add("ytdl-graberror");
        });
    }

    function format_date(str) {
        let d = luxon.DateTime.fromString(str, "yyyy-MM-dd");
        return d.toFormat("DDDD") + " (" + d.toRelative() + ")";
    }

    function populate_dates() {
        let things = document.getElementsByClassName("vidl-date-str");
        for (let item of things) {
            let t = format_date(item.textContent);
            if (t !== undefined) {
                item.textContent = t;
            }
        }
    }

    function format_datetime(str) {
        let d = luxon.DateTime.fromISO(str);
        return d.toFormat("t");
    }

    function populate_datetimes() {
        let things = document.getElementsByClassName("vidl-datetime-str");
        for (let item of things) {
            let t = format_datetime(item.textContent);
            console.log("Invalid datetime", item.textContent);
            if (t !== undefined) {
                item.textContent = t;
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        populate_dates();
        populate_datetimes();
    });
</script>
<div id="content">

    {%- call navbuttons() -%}

    <table class="pure-table pure-table-horizontal">
        {% for (date, day_videos) in videos.videos %}
            <tr>
                <td>
                    <span class="vidl-date-str">{{date}}</span>
                </td>
            </tr>
            {% for c in day_videos %}
                <tr id="vidl-video-{{c.id}}" class="{{ c.status_class }}" style="border: 2px solid white; color: black">
                    <td>
                        <div class="ytdl-videoinfo" style="width: 100%; height: 100%;">
                            <img src="/thumbnail/video/{{c.id}}" style="float: left; padding: 4px; vertical-align: baseline;" width="32">
                            <a href="/download/{{ c.id }}" onclick="vidl_grab_video({{ c.id }}); return false;">
                                <!-- FIXME: Wont currently work without JS as /download/1 needs POST'd -->
                                <div style="padding: 4px">
                                    <span title="{{c.title}}">{{c.get_title()}}</span>
                                </div>
                            </a>
                            <br/>
                            <small>{{c.video_duration_str()}}.
                                <span class="vidl-datetime-str">{{c.published_at}}</span></small>
                            <small>
                                on
                                <a href="/channel/{{c.channel.id}}">
                                    <img height="16" src="/thumbnail/channel/{{c.channel.id}}" width="16"/>
                                    {{c.channel.title}}
                                </a>
                            </small>
                        </div>
                    </td>
                    <td>
                        <span id="vidl-tippy-content-{{c.id}}">
                            <img src="/thumbnail/video/{{c.id}}" width="256"/>
                            <br>
                            {{c.get_description_alt()}}
                            <hr>
                            <h2>Original description:</h2>
                            {{c.description}}
                        </span>
                        <span id="vidl-tippy-tooltip-{{c.id}}">Info</span>
                        <script>
                    tippy(document.getElementById("vidl-tippy-tooltip-{{c.id}}"), {
                        placement: 'left',
                        content: document.getElementById("vidl-tippy-content-{{c.id}}"),
                    });
                </script>
                    </td>
                    <td>
                        <a href="{{c.url}}" class="pure-button button-info">View</a>
                    </td>
                    <td>
                        <a class="pure-button button-warning" href="#">Ignore</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        {% if videos.videos.len() == 0 %}
            <tr>
                <td>No more!</td>
            </tr>
        {% endif %}
    </table>

    {%- call navbuttons() -%}

</div>

<style>
    a {
        color: black;
        text-decoration: none;
    }

    .ytdl-nextprev {
        background: rgb(179, 215, 255);
    }

    .ytdl-videoinfo {
        font-size: 1.5em;
    }

    .button-info {
        background: rgb(182, 212, 247);
    }

    .button-warning {
        background: rgb(223, 117, 20);
    }

    .ytdl-grabbed {
        background: rgb(123, 223, 110);
    }

    .ytdl-graberror {
        background: rgb(238, 82, 61);
    }

    .ytdl-new {
        background: rgb(110, 159, 223);
    }

    .ytdl-downloading,
    .ytdl-queued {
        background: rgb(207, 146, 66);
    }

    .ytdl-ignored {
        background: rgb(129, 129, 129);
    }

    #content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{%endblock%}
