{% extends "base.html" %}

{% block body %}
<script src="/static/popperjs_core_2.js"></script>
<script src="/static/tippy_6.js"></script>
<div id="content">

    <a href="?page={{page-1}}" class="pure-button ytdl-nextprev {% if page == 0 %} pure-button-disabled{%endif%}">
        Prev page
    </a>
    <a href="?page={{page+1}}"
        class="pure-button ytdl-nextprev {% if videos.videos.len() == 0 %} pure-button-disabled{%endif%}">
        Next page
    </a>

    <table class="pure-table pure-table-horizontal">
        {% for c in videos.videos %}
        <tr class="{{ c.status_class }}" style="border: 2px solid white;">
            <td>
                <div class="ytdl-videoinfo" style="width: 100%; height: 100%;">
                    <img src="{{c.thumbnail_url}}" width=32
                        style="float: left; padding: 4px; vertical-align: baseline;">
                    <a href="/download/{{ c.id }}">
                        <div style="padding: 4px">
                            {{c.title}}
                    </a>
                    <br />
                    <small>{{c.published_at}}</small>
                    <small>
                        on
                        <a href="/channel/{{c.channel.id}}">
                            <img src="{{c.channel.icon}}" width=16 height=16 />
                            {{c.channel.title}}
                        </a>
                    </small>
                </div>
            </td>
            <td>
                <span id="vidl-tippy-content-{{c.id}}">
                    <img src="{{c.thumbnail_url}}" width="256" />
                    <br>
                    {{c.description}}
                </span>
                <span id="vidl-tippy-tooltip-{{c.id}}">Info</span>
                <script>
                    tippy(document.getElementById("vidl-tippy-tooltip-{{c.id}}"), {
                        placement: 'left',
                        content: document.getElementById("vidl-tippy-content-{{c.id}}"),
                    });
                </script>
            </td>
            <td>
                <a href=" {{c.url}}" class="pure-button button-info">View</a>
            </td>
            <td>
                <a href="#" class="pure-button button-warning">Ignore</a>
            </td>
        </tr>
        {% endfor %}
        {% if videos.videos.len() == 0 %}
        <tr>
            <td>No more!</td>
        </tr>
        {% endif %}
    </table>
</div>

<style>
    a {
        color: black;
        text-decoration: none;
    }

    .ytdl-nextprev {
        background: rgb(179, 215, 255);
    }

    .ytdl-videoinfo {
        font-size: 1.5em;
    }

    .button-info {
        background: rgb(182, 212, 247);
    }

    .button-warning {
        background: rgb(223, 117, 20);
    }

    .ytdl-grabbed {
        background: rgb(123, 223, 110);
    }

    .ytdl-graberror {
        background: rgb(238, 82, 61);
    }

    .ytdl-new {
        background: rgb(110, 159, 223);
    }

    .ytdl-downloading,
    .ytdl-queued {
        background: rgb(207, 146, 66);
    }

    .ytdl-ignored {
        background: rgb(129, 129, 129);
    }

    #content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{%endblock%}